<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eat O’Café</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/view_menu.css">
  
    <link href='https://fonts.googleapis.com/css?family=Berkshire Swash' rel='stylesheet'>
  
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
 
  
</head>
<body>
    <nav class="navbar">
        <div class="container">
    
          <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <a href="#">
              <img src="img/logo.png" alt="" class="img-fluid" width="170em">
            </a>
          </div>
    
          <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
            
            <p id="tableIdHidden" style="visibility: hidden;"><%= tableID %></p>
    
              
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="row d-flex justify-content-center">
    
              <% for(var i=0; i<result.length; i++){%>
               
                
    
              <div class=" col-lg-3 menu-card text-center" >
    
                <img class="card-img" src=menuImage/<%= result[i].productName %>.png alt="">
          
                <div class="card-details card-block">
                  <h6 class="text-center pb-2  title" style="font-weight: 700;"><%= result[i].productName %></h6>
                  <p class="text-center py-1" style=" font-size: 11px;"><%= result[i].description %></p>
          
                    <p value="300"  class="price text-center pb-2 " style="font-weight: 700; "><%= result[i].price %></p>
          
                     
    
    
                 <input class="buy-button mx-2 d-flex justify-content-center align-items-center text-center subtract-button" type="button" value="-" id="subs" class="btn btn-default pull-left" style="margin-right: 2%"/>&nbsp;
                 <input type="text" style="float: left; width: 45px;text-align: center; margin: 0px;" class="onlyNumber form-control pull-left" id="noOfRoom" value="0" name="noOfRoom" />&nbsp;
                 <input class="buy-button mx-2 d-flex justify-content-center align-items-center text-center add-button"  type="button" value="+" id="adds" class="btn btn-default" />
    
                   
    
                </div>
              </div>
    
              <% } %>
    
    
      <div class="floatings ">
    
        <p class="total-amount-display text-center">Total : $ 
          
          <span class="total-amount">0</span></p>
    
    
        <div class="order-button text-center" style="margin: 20px">
           
          <a class="order-now-button">
             
            <button class="bn54">
             
              <span class="bn54span">Order Now</span>
            </button>
          </a>
        </div>
      
      </div>
    
    
      <style>
        


        .floatings {

            /* background-color: ; */
            position: fixed;
            bottom: 10px;
            left: 42vw;
        }
    
    
        #MainTable {
        
            width: 100%;
            /* background-color: #D8F0DA; */
            border: 1px;
            min-width: 100%;
            position: relative;
            opacity: 0.97;
            background: transparent;
        }
        
        
        
        .order-button {
            position: static ;
            bottom: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        
        .bn54 {
        
            animation: bn54storm 0.7s ease-in-out both;
          animation-delay: 0.06s; 
         
          position: relative;
          outline: none;
          text-decoration: none;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          /* text-transform: uppercase; */
          height: 45px;
          width: 130px;
          opacity: 1;
          background-color: #ed0a19;
          /* border: 1px solid rgba(0, 0, 0, 0.6); */
          border: none;
        
        
        
        }
        
       
        
        .bn54 .bn54span {
          font-family: Poppins;
          color: #ffffff;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.7px;
        }
        
       
        
        .bn54:hover {
          animation: bn54rotate 0.7s ease-in-out both;
        }
        
        
        
        .bn54:hover .bn54span {
          animation: bn54storm 0.7s ease-in-out both;
          animation-delay: 0.06s;
        }
        
    
        
        @keyframes bn54rotate {
          0% {
            transform: rotate(0deg) translate3d(0, 0, 0);
          }
          25% {
            transform: rotate(3deg) translate3d(0, 0, 0);
          }
          50% {
            transform: rotate(-3deg) translate3d(0, 0, 0);
          }
          75% {
            transform: rotate(1deg) translate3d(0, 0, 0);
          }
          100% {
            transform: rotate(0deg) translate3d(0, 0, 0);
          }
        }
        
        @keyframes bn54storm {
          0% {
            transform: translate3d(0, 0, 0) translateZ(0);
          }
          25% {
            transform: translate3d(4px, 0, 0) translateZ(0);
          }
          50% {
            transform: translate3d(-3px, 0, 0) translateZ(0);
          }
          75% {
            transform: translate3d(2px, 0, 0) translateZ(0);
          }
          100% {
            transform: translate3d(0, 0, 0) translateZ(0);
          }
        }
        
        
        
          </style>
    
    
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init({
          offset: 400,
          duration: 1400
        });
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    




    <script>
        $( document ).ready(function() {

        var totalSum = 0.0;
        var items = {};


        update_amounts();
        $('.onlyNumber, .price').on('keyup keypress blur change', function(e) {
            update_amounts();
        });

        function update_amounts(){
        
            var sum = 0.0;
                $('.menu-card').each(function() {
                    var qty = $(this).find('.onlyNumber').val();

                    
                    if (qty > 0) {

                        var title = $(this).find('.title').html();
                        
                        
                        
                        items[title] = qty;

                    
                    }

                    var price = $(this).find('.price').html();
                    
                    var amount = (qty*price);
                    
                    sum+=amount;

                    totalSum = sum;


                    console.log();
                    // $(this).find('.total-amount').text(''+amount);

                });
            $('.total-amount').text(sum);
        

        }

        $(".add-button").click(function() {
        updateValue(this, 1);
        update_amounts();
        });
        $(".subtract-button").click(function() {
        updateValue(this, -1);
        update_amounts();
        });

        function updateValue(obj, delta) {
        var item = $(obj).parent().find("input.onlyNumber");
        var newValue = parseInt(item.val(), 10) + delta;
        item.val(Math.max(newValue, 0));
        }


        $('.order-now-button').on('click', function(e) {
            console.log(items);
            console.log(totalSum);

            var tableID = $("#tableIdHidden").html();

            var itemsAsJson = JSON.stringify(items)

            console.log(itemsAsJson);


            var details = {'foods':itemsAsJson, 'totalCost':totalSum, 'tableID': tableID} 
                $.ajax({
                url: "http://localhost:8000/foodorders",
                type: "POST",

                data: details,

                dataType: 'json',

                success: function(result) {

                    if(result === "no_errors"){
                      location.href = "http://localhost:8000/mybookings"
                    } 
                    else{
                      location.href = "http://localhost:8000/tables"
                    }
                    // console.log(result);
                }
                
    
            })

        });


        });

    </script>
    
</body>
</html>